<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="jumbotron bg-primary text-white p-5 rounded">
            <h1 class="display-4">Bem-vindo à Consultoria</h1>
            <p class="lead">Sua plataforma de gestão de consultoria educacional.</p>
            <hr class="my-4">
            <p>Escolha uma opção para continuar:</p>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Área do Administrador</h5>
                        <p class="card-text">Acesso restrito para administradores do sistema.</p>
                        <a href="/admin/login" class="btn btn-primary">Entrar como Admin</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Área do Aluno</h5>
                        <p class="card-text">Acesso para alunos da consultoria.</p>
                        <a href="/aluno/login" class="btn btn-success">Entrar como Aluno</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>